[settings]
profile = black
known_first_party = auth,classes,config,discussions,issue_metrics,json_writer,labels,markdown_helpers,markdown_writer,most_active_mentors,pr_comments,search,time_in_draft,time_to_answer,time_to_close,time_to_first_response,time_to_first_review,time_to_merge,time_to_ready_for_review
